header {
    font-family: arial, sans-serif;
}

body {
  background-image: url('../pictures/background.jpg');
  font-family: arial, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
    font-family: arial, sans-serif;
    border-collapse:initial;
}

th{
    font-size: 20px;
    text-align: left;
    border-right: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    padding: 9px;
}

td {
    font-size: 15px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    padding-right: 100px;
    
  }

h1 {
   color: white;
   font-size: 50px;
   text-align: center;
}

p {
    color: white;
    font-size: 20px;
 }


#stockin {
    height: 24px;
    width: 11em;
    font-size: 0.3em;
}

#stocksub {
    height: 30px;
    width: 10em;
    font-size: 0.3em;
}

